@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.nav{
  position: fixed;
  z-index: 1000;
  display: flex;
  margin:auto;
  width:100%;
  height:80px;
  background:transparent;
  color: rgba(255,255,255,0.8);
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  transition: all 1s;
}
.isScrolling{
  height:60px;
  background-color: rgb(20, 26, 62);
}
.brand{
 font-size:18px;
 font-weight: 500;
 margin:auto;
 margin-left: 20px;
 height: 50px;
 font-family: 'Open Sans',sans-serif;
 display: flex;
 flex-direction: row;

}
.brand img{
  max-width:100px;
  max-height: 50px;
  margin:auto;
}
.brand h2{
  margin:auto;
  padding:10px;
  transition: all .5s

}
//nav links
.nameItems{
  position: absolute;
  margin:auto;
  right: 0;
  min-width:200px;
  display: flex;
  flex-direction: column;
  transform:translateX(900px);
  transition:all .5s;
}

.nameItems a{
  padding:10px 20px;
  transition: all .5s;
  text-decoration: none;
  color: rgba(255,255,255,0.8);

}
// dropdown
.dropdown i{
  color: inherit !important;
}
.dropdown-content{
  margin:auto;
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  display: none;
  a{
    padding:5px 50px;
    transition: all .5s;
  }
}
//burger css


.big-mac{
  position: relative;
  right:20px;
  margin:auto;
  margin-right: 20px;
}
.big-mac input{
  position: absolute;
  width:40px;
  height:100%;
  z-index: +12;
  margin:auto;
  opacity:0;
  cursor: pointer;
}
.big-mac span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ededed;
  border-radius: 3px;
  z-index: +11;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
.big-mac span:first-child
{
  transform-origin: 50% 50%;
}

.big-mac span:nth-last-child(2)
{
  transform-origin: 50% 50%;
}
.big-mac input:checked ~ span
{
  opacity: 1;
  transform: rotate(-45deg) translate(0px, -1px);
}

/*
 * But let's hide the middle one.
 */
.big-mac input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.big-mac input:checked ~ span:nth-last-child(2)
{
  transform: rotate(45deg) translate(-2px, -1px);
}

.animationSlideIn{
  animation: slideIn 1s ease both;
}
@keyframes slideIn {
  0%{
    opacity: 0;
    transform: translate(350px);
  }
  100%{
    opacity:1;
    transform: translate(0px);
  }
}
@for $i from 1 to 10 {
  .nameItems *:nth-child(#{$i}) {
    animation-delay: $i * .1s;
   }
}
// add comment explaining this targeting

@media screen and (max-width: 720px) {
  .nameItems{
    width:100%;
  }
}
